body {
  background-color: lightgray;
}

#title {
  text-align: center;
}

#color-palette {
  margin-top: 30px;
  text-align: center;
  /* display: inline-block; */
}

.color {
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

.firstColor {
  /* background-color: black; */
  display: inline-block;
}

.secondColor {
  /* background-color: red; */
  display: inline-block;
}

.thirdColor {
  /* background-color: green; */
  display: inline-block;
}

.fourtColor {
  /* background-color: blue; */
  display: inline-block;
}

.selected {
  height: 40px;
  width: 40px;
  }

#buttons-container {
  margin-top: 10px;
  text-align: center;
}

#board-size {
  color: navy;
}

#coluna-pixel {
  display: inline-block;
}

#pixel-board {
  margin-top: 100px;
  text-align: center;
  background-color: white;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: white;
}