body {
    background-color: lightgray;
}

#title {
    text-align: center;
}

#color-palette {
    text-align: center;

}

.color {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    display: inline-block;
}

.firstColor {
    background-color: black;
}

.secondColor {
    background-color: red;
}

.thirdColor {
    background-color: green;
}

.fourtColor {
    background-color: blue;
}

.selected {
    background-color: black;
}

#buttons-container {
    text-align: center;
}

#board-size {
    color: navy;
}

#teste {
    display: inline-block;
    ;
}

#pixel {
    height: 40px;
    width: 40px;
    border: 1px solid black;
}