body {
  background-color: lightgray;
}

#title {
  text-align: center;
}

#color-palette {
  margin-top: 30px;
  text-align: center;
}

.color {
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

.firstColor {
  display: inline-block;
}

.secondColor {
  display: inline-block;
}

.thirdColor {
  display: inline-block;
}

.fourtColor {
  display: inline-block;
}

.selected {
  height: 40px;
  width: 40px;
}

#buttons-container {
  margin-top: 10px;
  text-align: center;
}

#board-size {
  color: navy;
}

#coluna-pixel {
  display: inline-block;
}

#pixel-board {
  margin-top: 100px;
  text-align: center;
  background-color: white;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: white;
  display: inline-block
}
